Repository STARTSPr0/momo-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend

.gitlab-ci.yml:

stages:
  - module-pipelines

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend # если дочерний пайплайн свалился, то общий тоже идёт с ошибкой
  only:
    changes:
      - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend
  only:
    changes:
      - backend/**/*

Проба аплоуда бэка в нексус
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

fix nexus upload
  backend/.gitlab-ci.yml
Due: backend

test nexus upload
  backend/.gitlab-ci.yml
Due: backend

изменить ключ curl для аплоада
  backend/.gitlab-ci.yml
Due: backend

Добавить ключи JL
  backend/.gitlab-ci.yml
Due: backend

fix
  backend/.gitlab-ci.yml
Due: backend

test upload
  backend/.gitlab-ci.yml
Due: backend

Проба аплоуда с --http1.1
  backend/.gitlab-ci.yml
Due: backend

add --insecure
  backend/.gitlab-ci.yml
Due: backend

добавить /repository/ в аплоад
  backend/.gitlab-ci.yml
Due: backend

сократить путь загрузки
  backend/.gitlab-ci.yml
Due: backend

Добавить аплоад фронта на нексус
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend, backend

Добавить файл tf
  infra/terraform/k8s_cluster.tf
  infra/terraform/provider.tf
Due: none

тест ci для терраформа
  infra/.gitlab-ci.yml
Due: none

добавить terraform в общий пайплайн
  .gitlab-ci.yml
Due: none

Добавить TF_CLI_CONFIG_FILE
  infra/.gitlab-ci.yml
  infra/terraform/.terraformrc
Due: none

Добавить темплейт
  infra/.gitlab-ci.yml
Due: none

добавить TF_ROOT
  infra/.gitlab-ci.yml
Due: none

Добавить стадии и деплой
  infra/.gitlab-ci.yml
Due: none

fix needs
  infra/.gitlab-ci.yml
Due: none

fix needs 2
  infra/.gitlab-ci.yml
Due: none

удалить needs для destroy
  infra/.gitlab-ci.yml
Due: none

test
  infra/.gitlab-ci.yml
Due: none

test terraform_apply
  infra/.gitlab-ci.yml
Due: none

Удалить needs
  infra/.gitlab-ci.yml
Due: none

Добавить terraform_plan
  infra/.gitlab-ci.yml
Due: none

fix
  infra/.gitlab-ci.yml
Due: none

fix tfplan
  infra/.gitlab-ci.yml
Due: none

test2
  infra/.gitlab-ci.yml
Due: none
